<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>
      Cuenta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img class="center" src="https://image.shutterstock.com/image-vector/cool-profile-avatar-social-media-260nw-1567986097.jpg">
  <h3 class="ion-text-center">{{name}}</h3>

  <ion-list>
    <ion-item>
      <ion-label class="ion-text-center" (click)="goTo()">Configuraciones</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-center" (click)="salir()">Cerrar Sesión</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
