<ion-content style="--background: #b7b7b7;">
  <div class="caja">
    <ion-img [src]="img" class="imagen"></ion-img>
  </div>
<div class="pintura2">
  <h1 class="ion-text-center" style="position: relative; top: 10px; color:white" >Registrar</h1>
  <ion-item style="--ion-item-background: #000000; position: relative;">
    <ion-label position="floating" class="blanco">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="newUser.nombre" class="hoder" placeholder="Escribe tu nombre"></ion-input>
  </ion-item>
  <ion-item style="--ion-item-background: #000000; position: relative;">
    <ion-label position="floating" class="blanco">Correo</ion-label>
    <ion-input type="text" [(ngModel)]="newUser.email" class="hoder" placeholder="Escribe tu correo"></ion-input>
  </ion-item>
  <ion-item style="--ion-item-background: #000000; position: relative;">
    <ion-label position="floating" class="blanco">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="newUser.password" class="hoder" placeholder="Escribe tu contraseña"></ion-input>
  </ion-item>
  <ion-item style="--ion-item-background: #000000; position: relative;">
    <ion-label position="floating" class="blanco">Vuelve a escribir tu contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password2"  class="hoder" placeholder="Escribe tu contraseña"></ion-input>
  </ion-item>
  <ion-button style="position: relative; top: 25px; left: 15px; --background: #525252; --border-radius: 30px;" (click)="registro()">
    Registrar
  </ion-button>
    <p style="position: relative; left:175px; top:-20px; color: white" (click)="goTo()">Entrar</p>
</div>
</ion-content>
